[user]
    email = justinwu6900942@gmail.com
    name = torrid-fish
[core]
    editor = vim
[init]
    defaultBranch = main
[commit]
    template = ~/.gitmessage.txt
[alias]
    sync = !git fetch -p origin main:main && git rebase main